* {
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

:root {
  --subtitle: #006eb6;
}

hr {
  width: 500px;
  margin: 0 55px;
}

h1 {
  font-weight: 700;
  margin-top: 45px;
  font-size: 38px;
  text-transform: uppercase;
}

h2 {
  color: var(--subtitle);
  font-size: 17px;
  margin: 0 2rem;
  text-transform: uppercase;
}

body {
  background: white;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

main p {
  font-size: 1.2rem;
  margin: 20px;
}

main p em {
  font-style: italic;
  font-size: 1.2rem;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

select {
  width: 75px;
  height: 30px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.does-list {
  width: 550px;
  margin: 25px;
}

.does-list li {
  margin: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px 190px;
  border-color: rgb(97, 94, 94);
  border-style: solid;
  height: 800px;
  width: 800px;
}

img {
  width: 30%;
  display: block;
  margin: 25px auto;
}

/* Dark mode styles */

.dark-mode {
  background: #333;
  color: white;
}

.dark-mode label {
  color: white;
}

.dark-mode h1 {
  color: white;
}

.dark-mode h2 {
  color: var(--subtitle);
}

.dark-mode hr {
  border-color: white;
}

.dark-mode .content {
  border-color: white;
}

.dark-mode .content {
  background: #333;
}

.dark-mode .content h1 {
  color: white;
}

.dark-mode .content h2 {
  color: var(--subtitle);
}

.dark-mode .content p {
  color: white;
}

.dark-mode .content label {
  color: white;
}

.dark-mode .content select {
  color: white;
}

.dark-mode .content .does-list {
  color: white;
}

.dark-mode .content .does-list li {
  color: white;
}
