body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.total {
    margin-bottom: 10px;
    font-size: 20px;
}

.card-container {
    display: grid;
    grid-template-areas:
        "front"
        "back";
    position: relative;
    width: 400px;
}


.front__card,
.back__card {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #141414;
}

.front__card {
    grid-area: front;
    background-color: #cccccc;
    z-index: 1;
}

.card__image {
    display: flex;
    justify-content: flex-end;
}

.credit_card__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.credit_card__form label {
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}

.credit_card__form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    width: calc(100% - 22px);
}

.holder-expiry {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.holder-item,
.expiry-item {
    width: 48%;
}

.expiry-inputs {
    display: flex;
    justify-content: space-between;
}

.expiry-inputs input {
    width: 30%;
}

#card-holder {
    width: 80%;
}

.back__card {
    grid-area: back;
    position: absolute;
   
    background-color: #cccccc;
    color: black;
}

button {
    margin-top: 150px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f6c23e;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e3520;
    color: white;
}

.back__card {
    z-index: -1;
    height: 190px;
     top: -185px;
    left: 102px;
    justify-content: right;
}

svg rect {
    width: 420px;
    height: 60px;
}

.back__card form {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.back__card label {
    font-size: 15px;
    margin-bottom: 5px;
}

.back__card input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 40px;
}